/* Slider */
.slick-slider {
  position: absolute;
  
  top: 18.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  text-align: center;

  display: block;
  overflow: hidden;

  margin: 0 5rem;

  /* 슬릭 전체 컨테이너 높이 */
  height: 50vh;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 50vh;
  min-height: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background: #a7d5ff; */
  border-radius: 15px;
}

.slick-slide > div {
  height: 50vh;
}

[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow {
  z-index: 9999;
}

.slick-arrow.slick-hidden {
  display: none;
}
.slick-active {
  height: 50vh;
}

.slick-cloned {
  display: none;
}
